footer {
  text-align: center;
  color: #000;
  width: 100%;
}
.ant-layout-footer {
  background: #ccc !important;
  border-top: 1px solid #aeb9d8;
  text-align: center;
  color: #000;
}

.head-badge-tip {
  position: absolute;
  right: 0;
  top: 70px;
  width: 340px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px 0px;
  z-index: 1;
}
.head-badge-tip a:hover {
  color: #000000;
}
.head-badge-tip dl {
  max-height: 300px;
  min-height: 200px;
  overflow-y: auto;
}
.head-badge-tip dl .dl-box {
  border-bottom: 1px dashed #cccccc;
  padding: 10px;
  width: 100%;
  height: 100%;
}
.head-badge-tip dl .dl-box:hover {
  background-color: #9ed0f1;
}
.head-badge-tip dl dt {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-right: 10px;
}
.head-badge-tip dl dt img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.head-badge-tip dl dd {
  height: 50px;
  text-align: left;
  float: left;
  margin-bottom: 0;
}
.head-badge-tip dl dd p {
  margin-bottom: 0;
  line-height: 24px;
}
.head-badge-tip dl dd p:last-child {
  font-size: 10px;
  color: #cccccc;
}
.head-badge-tip .hbt-bottom {
  padding: 10px 10px 0;
}
.head-badge-tip .hbt-bottom p {
  line-height: 0;
}

.ant-layout-header {
  padding: 0 30px 0 10px !important;
}
header {
  width: 100%;
  height: 60px;
  font-size: 14px;
}
header a {
  color: #aeb9d8;
}
header a:hover {
  color: #ffffff;
}
header .halder-trigger {
  line-height: 68px;
}
header .halder-trigger svg {
  color: #aeb9d8;
}
header .halder-trigger svg:hover {
  color: #ffffff;
}
header .header-left .header-nav {
  height: 60px;
}
header .header-left .header-nav li {
  float: left;
  width: 100px;
  text-align: center;
  line-height: 60px;
  color: #ffffff;
}
header .header-right li {
  float: left;
  color: #aeb9d8;
  width: 40px;
  height: 60px;
  text-align: center;
}
header .header-right li:hover {
  color: #ffffff;
}
header .header-right svg {
  font-size: 20px;
}
header .header-right svg:hover {
  cursor: pointer;
}
header .header-right .header-badge {
  position: relative;
}
header .header-right .header-user {
  width: 140px;
  line-height: 64px;
  text-align: center;
  position: relative;
}
header .header-right .header-user .user-touxiang {
  color: '#aeb9d8';
  font-size: '24px';
}
header .header-right .header-user a {
  display: block;
  width: 100%;
  height: 100%;
}
header .header-right .header-user:hover {
  background-color: #001b36;
}
header .header-right .header-user:hover .header-user-hidden {
  display: block;
}
header .header-right .header-user:hover .user-touxiang {
  color: '#fff';
  font-size: '24px';
}
header .header-right .header-user .header-user-hidden {
  position: absolute;
  background-color: #001529;
  width: 140px;
  display: none;
}
header .header-right .header-user .header-user-hidden li {
  height: 60px;
  line-height: 60px;
  float: none;
}
header .header-right .header-user .header-user-hidden li:hover {
  background-color: #001b36;
}

.slider-menu .ant-menu-item-active a {
  color: #ffffff !important;
}
.slider-menu .ant-menu-item-selected a {
  color: #ffffff !important;
}
.slider-menu .ant-menu-item a {
  color: rgba(255, 255, 255, 0.65);
}

.tab {
  width: 100%;
  height: 40px;
  background-color: #cccccc;
  margin-bottom: 5px;
}
.tab a {
  color: #000000 !important;
}
.tab a:hover {
  color: #09f !important;
}

.main {
  min-width: 1200px;
  height: 100%;
  background-color: #666;
}
.main .logo {
  width: 80%;
  height: 30px;
  background: #fff;
  margin: 15px auto;
  border-radius: 10px;
}
#root {
  height: 100%;
  width: 100%;
}
#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}
#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}
#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.site-layout .site-layout-background {
  background: #fff;
}

.login {
  height: 100%;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-clip: content-box;
}
.login .login-cont {
  width: 300px;
  padding: 40px 10px 0;
  background-color: #999999;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.search-box {
  margin-bottom: 5px !important;
}

.cp-table {
  min-width: 400px;
}
.cp-table .ant-pagination {
  float: none !important;
}

.user-main {
  width: 800px;
  margin: 10px auto 0;
  background-color: #666;
  min-height: 600px;
}
.user-main h1 {
  font-size: 32px;
  font-weight: 600;
}
.user-main .content .u-left {
  width: 200px;
  border-right: 1px solid #000000;
}

@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img,header { margin:0; padding:0; }
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }
/*去掉input等聚焦时的蓝色边框*/
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle;}
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; }
/*防止拖动*/
img {border:0; vertical-align:middle; }
/*  去掉图片低测默认的3像素空白缝隙，或者用display：block也可以*/
table { border-collapse:collapse; }
body {
    font:12px/150% Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background: #fff;
}
.clearfix:before,.clearfix:after {  /*清楚浮动*/
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
a {color:#666; text-decoration:none; }
a:hover{color:#C81623;}
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;}
/*设置h标签的大小，设置跟父亲一样大的字体font-size:100%;*/
s,i,em{font-style:normal;text-decoration:none;}
.col-red{color: #C81623!important;}
/*公共类*/
.w {  /*版心 提取 */
    width: 1210px;margin:0 auto;
}
.fl {
    float:left
}
.fr {
    float:right
}
.al {
    text-align:left
}
.ac {
    text-align:center
}
.ar {
    text-align:right
}
.hide {
    display:none
}
.font12{ font-size: 12px;}
.font14{ font-size: 14px;}
.font16{ font-size: 16px;}
.white{
    color: #fff;
}
.icon svg{
    font-size: 18px;
}
/*公共部分*/
/*头部导航开始*/
/*尾部部导航开始*/


